.testimonie {
  border-radius: 0.75rem;
  border: 1px solid rgba(000, 000, 000, 0.1);
  border-radius: 0.75rem;
  padding: 1rem 1.25rem;
  display: grid;
  gap: 1rem;
}

.testimonieProfile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.testimonieAvatar {
  width: 2rem;
  text-align: center;
}

.testimonieName {
  color: var(--secondary-color);
  font-weight: var(--font-weight-800);
}

.testimonieButton {
  display: flex;
  justify-content: center;
}
