@charset "UTF-8";

/* Font import */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600;800&display=swap");

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
    animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
  cursor: pointer;
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Custom properties */
:root {
  /* Fonts and weights */

  --inter-font: "Inter", sans-serif;
  --font-weight-300: 300;
  --font-weight-600: 600;
  --font-weight-800: 800;

  /* Colors */

  --principal-color: #fbf8f3;
  --secondary-color: #4d13d1;
  --text-color: #000000;
  --opacity-text-color: #7c7c7c;
}

body {
  padding: 1rem 10rem;
  font-family: var(--inter-font);
  background-color: var(--principal-color);
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.4em;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (width <= 1024px) {
  body {
    padding: 0 1.75rem;
  }
}
